<div class="row">
		<div class="panel panel-success">
			<div class="panel-body">
        <h3>Create a new space</h3>
        <br />
        <div class="panel panel-success">
          <div class="panel-body">
              <%= render 'spaces/create_space', object: @space %>
          </div>
        </div>

        <br />
        <div>
          <div class="panel panel-success">
            <div class="panel-body">
    					<%= render 'history', object: @logs %>
            </div>

          </div>

        </div>
    </div>
  </div>
</div>
