<h1>Hello!!</h1>

You have been invited to join <b>WatchIoT</b>.

<a href="<%= url_for(controller: 'notifications',	 action: 'invite', token: @token, only_path: false)  %>">Click here to activate</a> your <b>WatchIoT</b> account
<br/><br/>

WatchIoT Support
