<h1>Hi <%= user_name(@space.user_id) %>,</h1>

<br/><br/> the space <b><%= @space.name %></b> was transferred for you!

by <strong><%= @user.username %>(<%= user_email(@user.id) %>)</strong>
<br/><br/>

WatchIoT Support
