<h1>Hi <%= @user.username %>!</h1>

<p>You selected this email as your new primary email. We are going to send all the notifications and alert to this email by default.</p>

<br/><br/>
Thanks,
<br/><br/>

WatchIoT Support
