<% @title='Setting ' + param_user + '/' + @space.name %>
<div class="row">
		<div class="panel panel-success">
			<div class="panel-body">
        <h3>Setting <%= @space.name %> </h3>
        <br />

        <div class="panel panel-success">
        	<div class="panel-body">
        							<!-- Tab panes -->
        			<div class="tab-content">
        				<div role="tabpanel" class="tab-pane active" id="home">
                  
                  <%= render 'setting_transfer' %>
        					<%= render 'setting_name' %>
        					<%= render 'setting_delete' %>
        				</div>
        			</div>
        	</div>
        </div>
    </div>
  </div>
</div>
