<div class="container register-height">
	<div class="jumbotron">
		<h2>Thank you for registering!</h2>
		<p>A confirmation email has been sent to <mark><%= @email.email %></mark>. Please click to the Activation
			link to Activate your account.</p>
	</div>
</div>
