<section>
  <div class="container">
  	<div class="jumbotron">
  		<h2>Unsubscribe successfully!</h2>
      <p>You should not receive more promotional emails and news.</p>
  	</div>
  </div>
</section>
