<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Stay alert and collect metrics about your assets</h2>
                <hr class="light">
                <p class="text-faded">
                  <strong>WatchIoT</strong> is a service in the cloud that provides the ability to monitor and collect metrics of your assets
                  (services, resources , devices (IoT), etc.) Verifying if the metrics obtained are into an accepted pattern and if they are not
                  <strong>WatchIoT</strong> provides the possibility to notify the anomaly in real time.
                </p>
                <a href="#get-started" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
            </div>
        </div>
    </div>
</section>
