<section id="get-started" class="bg-primary">
		<div class="container">
				<div class="call-to-action">
					<h2 class="text-center">Get Started!</h2>
					<hr>
					<p class="text-center">Get Started using <strong>WatchIoT</strong> for <strong>Free</strong></p>

					<div class="sign">
						<%= render 'get_started_login' %>
						<%= render 'get_started_register' %>
					</div>
				</div>

		</div>

		<%= render 'shared/alert_message' %>
</section>
