<div class="with-gradient" id="getting-started">
	<div class="started-session">
		<div class="row value-props height-panel" >
			<h1 class="col-lg-12">Getting started</h1>
			<h3 class="col-lg-4 g-started">Register</h3>
			<h3 class="col-lg-4 g-started">Configure</h3>
			<h3 class="col-lg-4 g-started">Monitor</h3>
		</div><!-- /.row -->
	</div>
</div>
