<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 >Monitor your <span id='typed-sample'></span></h1>
            <hr>
            <p>Send alerts and collect metrics about your Services, Resources and Device (<strong>IoT</strong>) in an easy way!</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Know more</a>
        </div>
    </div>
</header>
