<!-- include hero here if the page is index -->

<div class="container-fluid hero">
  <div class="starter-template">
    <h1 class="dotnet">WatchIoT</h1>
    <p class="lead">Monitor services, resources and devices (IoT)</p>

    <!-- Standard button -->
    <a href="#getting-started" class="btn-hero-core">Getting started</a>
  </div>
</div><!-- /.container -->

<div class="container-fluid hero-gradient content">
	<%= render 'description' %>
	<%= render 'get_start' %>
	<%= render 'faq' %>
	<%= render 'contactus', object: @contactus %>
</div>
