<% @title=param_user %>
<div class="row">
		<div class="panel panel-success">
			<div class="panel-body">

        <h2 class="space-title"><%= @space.name %></h2>

    		<br />

    		<h3>Create a new project</h3>

    		<div class="panel panel-success">
    			<div class="panel-body">
    				<%= render 'create_project' %>
    			</div>
    		</div>

    		<br />
    		<div>
    			<%= render 'list_projects' %>
      	</div>

    </div>
  </div>
</div>
