<div class="row dashboard-page project-height">
	<div class="">
		<br />
		<br />
		<div class="panel panel-success">
			<div class="panel-body">
				<%= render 'edit_project' %>
			</div>
		</div>

		<br />
		<h3>Configuration</h3>
		<div class="panel panel-success">
			<div class="panel-body">
				<%= render 'config_project' %>
			</div>
		</div>

	</div>
</div>
