<div role="tabpanel" class="tab-pane<%if @in == 'account'%> active<%end%>" id="account">
		<div class="panel-body">
			<div data-example-id="simple-table" class="bs-example">

				<%= render 'account_email' %>
				<%= render 'account_passwd' %>
				<%= render 'account_username' %>
				<%= render 'account_delete' %>

			</div>
		</div>
</div>
