<div class="panel panel-danger">
	<div class="panel-heading"><b>Delete account</b></div>
	<div class="panel-body">

		<small>Do you need delete all the spaces or transfer them to other member team account.</small>
		<%= form_for @user, url: '/' + me.username + '/setting/account/delete', method: :delete  do |f| %>
			<div class="form-group">

				<%= div_for(@user, class: 'form-group col-lg-9') do %>
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
						Delete
					</button>
				<%end%>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Confirm delete</h4>
						</div>
						<div class="modal-body">
							<label>Enter your username to confirm </label>
							<div>
								<%= f.text_field :username, class: 'form-control', placeholder: 'Username', value: '' %>
							</div>
						</div>
						<div class="modal-footer">
							<%= submit_tag 'Comfirmation', class: 'btn btn-danger' %>
						</div>
					</div>
				</div>
			</div>

		<%end%>
	</div>
</div>
